[ServerSetting]
ServerName=No One Survived Docker Server
SaveName=MainWorld
OpenMap=Map01
NeedPassword=False
Password=
AdminPassword=
MaxPlayers=8
NumOfZombieSpawn=50
Region=EU

[GameSettings]
PVP=False
ZombieAttack=True
ZombieAttackDay=7
AttackZombieNum=2
ZombieNum=2
RunZombiePercent=0.5
ZombieStreng=1
SpecialZombie=True
YearDay=40
DayLength=60
PermanentDead=False
MaterialNum=1
ItemSpawn=1
VirusFatalityRate=0.5
GiftBagForNovices=True
NPCItemSpawn=1
